{
  "plugins": [
    [
      "../../../src",
      {
        "taggerMembers": {
          "prop1": {
            "outputFileExtension": "1.txt"
          },
          "prop2": {
            "outputFileExtension": "2.txt"
          }          
        }
      }
    ]
  ]
}
